@font-face {
    font-family: 'Open Sans';
    src: url('./Open_Sans/OpenSans-Light.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./Open_Sans/OpenSans-LightItalic.ttf');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./Open_Sans/OpenSans-SemiBold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./Open_Sans/OpenSans-SemiBoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./Open_Sans/OpenSans-Bold.ttf');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./Open_Sans/OpenSans-BoldItalic.ttf');
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./Open_Sans/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./Open_Sans/OpenSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Barlow Condensed';
    src: url('./Barlow_Condensed/BarlowCondensed-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('./Barlow_Condensed/BarlowCondensed-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('./Barlow_Condensed/BarlowCondensed-Light.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('./Barlow_Condensed/BarlowCondensed-LightItalic.ttf');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('./Barlow_Condensed/BarlowCondensed-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

/* @font-face {
    font-family: 'Oxygen';
    src: url('./Oxygen/Oxygen-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url('./Oxygen/Oxygen-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url('./Oxygen/Oxygen-Light.ttf');
    font-weight: lighter;
    font-style: normal;
} */