* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "manrope-light", "Open Sans", "sans-serif" !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.reposition_btn {
  position: relative !important;
  right: 150px !important;
  padding: 20px 55px !important;
}
.css-m9glnp-MuiPaper-root-MuiDialog-paper {
  height: 50% !important;
  position: absolute !important;
  bottom: 0 !important;
}
.user__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.validate__card {
  width: 360px;
  height: 235px;
  background-color: #f2f4f6;
  position: relative;
  border-radius: 10px;
}
.h-70 {
  height: 70px;
}
.modify__tickets {
  width: 100%;
  margin: 35px 0;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  height: 650px;
  max-height: 800px;
}
.modify__ticket__search {
  width: 90%;
  margin: 15px 10px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: thin solid #dbdbdbdb;
  width: 90%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: thin solid #dbdbdbdb;
}
.tickets {
  width: 25%;
  border-right: thin solid #e0e0e0;
}

.modify__card {
  width: 100%;
  height: auto;
  border-bottom: thin solid #e8e8e8;
}
.modify__card:hover {
  border: 1px solid #0075ff;
  border-right: 3px solid #0075ff;
  cursor: pointer;
}
.ticket__content {
  width: 70%;
  padding: 0px 10px;
}
.content__stepper > input {
  margin: 0 15px;
}
/* 
.validate__card:hover {
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px
} */

.validate__card:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 14px;
  background: linear-gradient(-45deg, rgb(255, 255, 255) 12px, transparent 0%),
    linear-gradient(45deg, rgb(255, 255, 255) 12px, transparent 0%);
  background-size: 20px;
}
.validate_ticket_form {
  width: 60%;
  padding: 25px 15px;
  outline: none;
  border: none;
  background-color: #eeeeee;
  border-radius: 10px;
}
.w100p {
  width: 100% !important;
}
.flex-alc {
  display: flex !important;
  align-items: center;
}
.ml-10 {
  margin-left: 10px;
}

.p11 {
  padding: 11px 0;
}
.css-2slu8c {
  height: 70% !important;
  overflow-y: auto;
}
.mb-7 {
  margin-bottom: 7px;
}
.pd-x10 {
  padding: 0 10%;
}
.stat {
  display: flex;
  align-items: center;
  width: 50%;
  display: flex;
  height: 120px;
  justify-content: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
  border: thin solid #8c8c8c30;
}

.stat > .left__stat {
  width: 50%;
  display: flex;
  align-items: center;
}
.sub__title {
  font-size: 8px;
  font-weight: 600;
  color: #80808091;
}

.stat__value {
  font-size: 16px;
}
.right__stat {
  width: 50%;
}

.MuiSvgIcon-root {
  width: 1.3em !important;
  height: 1.3em !important;
}

.m45 {
  margin: 45px 10px;
}
.my-10 {
  margin: 10px 0;
}
.right__sub {
  padding: 10px 25px;
}
.left__stat {
  border-right: thin solid #8c8c8c30;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.badge {
  padding: 0.25em 0.4em;
  border-radius: 0.25rem;
  text-align: center;
  line-height: 1;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.bg-success {
  background-color: var(--primary-color-light);
  color: var(--primary-bg-color);
}
.c-success {
  color: #10ac7e;
}

.c-error {
  color: #ec707a;
}

.bg-error {
  background-color: #f9e8ea;
  color: #ec707a;
}
.bg-warning {
  background-color: #ffe7c7;
  color: #e79c39;
}
.my-40 {
  margin: 40px 0;
}
.b-r {
  border-right: thin solid #80808024;
}
.plate {
  font-size: 8px;
  color: grey;
}

.App-link {
  color: #61dafb;
}

tbody {
  font-size: 9px;
}
.p-y {
  padding: 0 10px;
}
.mb-35 {
  margin-bottom: 35px;
}
.page__header {
  display: flex;
  align-items: center;
  padding: 30px 10px;
  justify-content: space-between;
}
.flex__normal {
  display: flex;
}
.space-even {
  justify-content: space-evenly;
}
.w-60p {
  width: 60%;
}
.profile_pic_holder {
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
  border: thin dashed grey;
  margin-right: 25px;
  padding: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.profile_pic {
  width: 80px;
  height: 80px;
  /* border-radius: 50%; */
  background-size: cover;
  background-repeat: no-repeat;
}
.top__nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  color: #fff;
}
.bold {
  font-weight : 700
}
.form-control {
  display: block;
  position: relative;
  z-index: 0;
  width: 100%;
  padding: 18px 10px;
  border: 1px solid #e3ebfd;
  border-radius: 7px;
  margin: 20px 0;
  color: #70838a;
  font-size: 12px;
  font-weight:600;
  outline: none;
  margin-top: 22px;
}
.abs {
  position: absolute;
}
.forgotten {
  font-size: 9px;
  text-align: right;
  margin-top: -20px;
  margin-bottom: 15px;
  color: #4475f3;
}
.mt-35 {
  margin-top: 35px;
}
.book_trip_form_input {
  border: none;
  height: 12px;
  outline: none;
}

.w-160 {
  width: 200px;
}
.group_input {
  border: 1.5px solid #d6d6d6;
  border-radius: 7px;
  padding: 10px;
}
.w-45p {
  width: 36%;
}
select::-ms-expand {
  display: none;
}
tr:nth-child(even) {
  background-color: #fafafa;
}
.ml-15 {
  margin-left: 15px;
}
.dropdown {
  appearance: none;
  font-size: 8px;
  text-transform: uppercase;
  border: none;
  color: #8c8c8cd6;
  font-family: inherit;
  outline: none;
}

.jcs {
  justify-content: start;
}
.my-35 {
  margin: 35px 0;
}
.copyright {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 25%;
  transform: translate(-25%);
  font-size: 9px;
  font-weight: 500;
}
.product__avatar {
    border-radius: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.w100 {
  width: 100%;
}
.btn {
  padding: 15px 0;
  border: 0;
  outline: none;
  border-radius: 5px;
  font-weight: 900;
  font-size: 9px;
  text-transform: capitalize;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.btn-primary {
  background-color: #4475f3;
  color: white;
}
.btn-dark {
  background-color: #2b2b2b;
  color: #bebebe;
}
.btn-secondary {
  border: thin solid #4475f3;
  color: #4475f3;
  background-color: white;
}
.m-auto {
  margin: 0 auto;
}
.w-70 {
  width: 70%;
}
.m-15 {
  margin: 15px;
}
.pos-rel {
  position: relative;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.spbtw {
  justify-content: space-between;
}
.p-25 {
  padding: 10px 25px;
}

.b-round {
  border-radius: 50%;
}
.s-divider {
  border-bottom: thin solid #d7d7d726;
}

.ml-10 {
  margin-left: 10px;
}
.m-10 {
  margin: 10px;
}
.css-1q79v3g-MuiButtonBase-root-MuiChip-root .MuiChip-deleteIcon {
  font-size: 11px!important;
  margin: 0 !important
}
.no-border {
  border: none;
}
css-6od3lo-MuiChip-label {
  padding: 3px!important;
  padding-left: 8px!important;
}
.css-1hfcwwv-MuiStack-root {
  border: thin solid #8c8c8c30!important;
}
.css-1q79v3g-MuiButtonBase-root-MuiChip-root .MuiChip-deleteIcon {
  color: white!important;
  border-radius: 50%!important;
}

.d-divider {
  border-bottom: thin dashed #f4f4f4;
}
.sidenav {
  width: 18%;
  background: var(--primary-bg-color);
  color: var(--primary-color);
  z-index: 5;
  position: relative;
  height: 100vw;
}
.css-38raov-MuiButtonBase-root-MuiChip-root .MuiChip-deleteIcon {
  -webkit-tap-highlight-color: transparent;
  color: rgba(0, 0, 0, 0.26);
  font-size: 12px!important;
  cursor: pointer;
  margin: 0 5px 0 -6px;
}
.lheight13 {
  line-height: 1.3em;
}
.lheight23 {
  line-height: 2.3em;
}

.fw-bold {
  font-weight: 700;
}
.f-300 {
  font-weight: 300;
}
.main__content {
  width: 78%;
  margin: 0 20px;
  height: 100vh;
}
.css-1t4lqmc-MuiButtonBase-root-MuiTab-root {
  min-width: 0 !important;
}

.flex-start {
  justify-content: flex-start !important;
}
.css-u06erh-MuiPaper-root {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: none !important;
  width: 100%;
}
.layout {
  width: 100vw;
  min-height: 100%;
  position: relative;
  font-family: "manrope";
  font-size: 12px;
  transition: all 0.3s ease-out;
  line-height: 1.5rem;
}

.layout::after {
  display: block;
  width: 100%;
  height: 110px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  content: "";
}

.container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 30px 30px 30px;
}
.d-flex {
  display: flex;
  justify-content: space-between;
}
.alc {
  align-items: center;
}

.f-10 {
  font-size: 10px;
}

.container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 30px 30px 30px;
}
.w-600 {
  width: 60%;
  margin: 5% auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* background-color: red */
}

.w-100 {
  width: 100%;
}
.content__stepper:before {
  content: "";
  width: 90px;
  background-color: #4475f4;
  border: thin solid #4475f4;
  position: absolute;
  z-index: -1;
  right: 20px;
}
.w-50 {
  width: 50%;
}
.py-10 {
  padding: 3px 10px;
}
.pull-right {
  float: right;
}
.form-control-input {
  padding: 9px;
  width: 100%;
  margin: 7px 7px 7px 0;
  border: thin solid #e0e0e0;
  outline: none;
  border-radius: 5px;
}

.w-30 {
  width: 30%;
}

.w-250px {
  width: 250px;
}
.w-100 {
  width: 100%;
}
.d-block {
  display: block !important;
  /* padding: 25px 0!important; */
}

.w80 {
  width: 80px !important;
  height: 80px !important;
}

ngx-charts-advanced-pie-chart .advanced-pie-legend-wrapper {
  display: none;
}

.pl-25 {
  padding-left: 25px;
}
.py-32 {
  padding: 20px;
}
.form-textarea {
  border: thin solid #e0e0e0;
  height: 90px;
  width: 400px !important;
  padding: 9px;
  border-radius: 5px;
}
label {
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
  z-index: 1;
  color: #4a4a4a;
  display: block;
  /* padding: 0 10px; */
}
.h-20 {
  height: 20px;
}
.h-10 {
  height: 10px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
/* th, thead {
  text-align: left;
  font-weight: bold;
  padding: 15px;
  font-size: 12px;
  font-family: 'Open Sans';
  color: #9aa4b0!important;
} */

.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  /* -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: none !important;
  width: 100%;
  overflow-x: auto;
}

th,
thead {
  text-align: left !important;
  /* font-weight: 600!important; */
  padding: 15px !important;
  font-size: 9px !important;
  color: #505b68 !important;
  font-weight: 900!important;
}

.w100-m10 {
  width: 100%;
  margin-right: 10px;
}
.topnav-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  color: #fff;
}
.company__color {
  width: 100px;
  height: 40px;
  border-radius: 7px;
}

/* STart debit Cards css */

.debit_card_container {
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.debit_card {
  width: 500px;
  height: 300px;
  color: #fff;
  cursor: pointer;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.debit_card_front, .debit_card_back {
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(45deg, #0045c7, #ff2c7d); */
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 30px;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
  backface-visibility: hidden;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.map-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}
.color-grey{
  color: grey;
}
.card-no {
  font-size: 35px;
  margin-top: 30px;
  letter-spacing: 0.2em;
  display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-items: center;
}

.card-holder {
  font-size: 12px;
  margin-top: 40px;
}

.debit_card_name {
  font-size: 22px;
  margin-top: 40px;
}

.debit_card_bar {
  background: #222;
  margin-left: -30px;
  margin-right: -30px;
  height: 60px;
  margin-top: 10px;
}

.card-cvv {
  margin-top: 20px;
}

.card-cvv div {
  flex: 1;
}

.card-cvv img {
  width: 100%;
  display: block;
  line-height: 0;
}

.card-cvv p {
  background: #fff;
  color: #000;
  font-size: 22px;
  padding: 10px 20px;
}

.debit_card-text {
  margin-top: 30px;
  font-size: 14px;
}

.debit_card_signature {
  margin-top: 30px;
}

.debit_card_back {
  transform: rotateY(180deg);
}


.debit_card {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 85.6mm;
  height: 53.98mm;
  color: #fff;
  font: 22px/1 "Iceland", monospace;
  background: linear-gradient( 90deg, rgba(0, 212, 255, 1) 0%, rgba(26, 62, 156, 1) 51%, rgba(2, 0, 36, 1) 100% );
  border-radius: 12px;
  overflow: hidden;
}
.solid__green {
  background-color: #10ac7e;
}

.bus__card:hover {
  background-color: #202236cc;
  color: white;
  cursor: pointer;
  font-weight: 700;
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px,
    rgb(0 0 0 / 30%) 0px 30px 60px -30px;
}

.bus__card {
  width: 230px;
  margin: 0 5px;
  max-width: 250px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}
.bus__details {
  padding: 7px 15px 15px 15px;
}
.frontdesk__header
  > .MuiTabs-root
  > .css-jpln7h-MuiTabs-scroller
  > .css-heg063-MuiTabs-flexContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: flex-end !important;
  display: flex;
}


.alert{
  /* background-color: var(--primary-bg-color); */
  /* height: 50px; */
  position: fixed;
  top: 15px;
  right: -30px;
  transition: all 0.2s;
  transform: translateX(1000px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 9999999999999999;
  border-radius: 7px;
}
.error {
  background-color: #ff4949;
}
.success {
  background-color: var(--primary-bg-color);
}
.warning {
  background-color: #ffc35a;
}
.alert.active{
  transform: translateX(0px); 
}
.alert span{
    font-size: 12px;
    text-align: left;
    padding: 13px 30px 15px 15px;
}
.center {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .alert{
      width: 80%;
      background-color: rgba(0, 100, 0, 0.4);
  }
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #1976d2;
  /* font-weight: 700; */
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  text-transform: capitalize !important;
}

.solid__red {
  background: #ec707a;
}
.solid__blue {
  background: #4025d8;
}

.big__graph {
  height: 400px;
}
.ml-20p {
  margin-left: 20%;
}
tbody > tr.MuiTableRow-root.css-1q1u3t4-MuiTableRow-root:hover {
  background: #ededed;
  cursor: pointer;
}
.color__options > .option {
  width: 30px;
  height: 30px;
  border-radius: 7px;
}
.mb-lg {
  margin-bottom: 20px;
}

.mr-10 {
  margin-right: 10px;
}
.login__bg {
  background: url(./assets//imgs/truck.jpeg);
  height: 90vh;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
}
.mb-7 {
  margin-bottom: 7px;
}
.search__bar {
  padding: 9px;
  /* width: 200px; */
  border-radius: 5px;
  outline: 0;
  border: thin solid #8c8c8c30;
  margin-right: 15px;
  color: #8c8c8cd6;
}
.w-200 {
  width: 200px;
}
::placeholder {
  color: #8c8c8cd6;
}

@media (prefers-reduced-motion: no-preference) {
  .logo_w {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
