:root {
  --primary-bg-color: #1a3e9c;
  --secondary-bg-color: ;
  --primary-color: #fff;
  --color-chalk: #e3e3e3;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Manrope" "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
input:focus,
select:focus {
  outline: none;
}
button {
  cursor: pointer;
}
.flex-wrap {
  flex-wrap: wrap;
}
.purple {
  color: var(--primary-bg-color);
}
.pointer {
  cursor: pointer;
}
.gap-10 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.g-10 {
  gap: 10px;
}
.g-20 {
  display: flex;
  gap: 20px;
}
.g-5 {
  display: flex;
  gap: 5px;
}
.flex-col {
  flex-direction: column;
}
.justsb {
  display: flex;
  justify-content: space-between;
}
.flex {
  display: flex;
}
ul {
  list-style-type: none;
}
.all-center {
  align-items: center;
  justify-content: center;
}
.capitalize {
  text-transform: capitalize;
}
.px-5 {
  padding: 0 5px;
}
.py-20 {
  padding: 20px 0;
}
.pdy-10 {
  padding: 10px 0;
}
.my-20 {
  margin: 20px 0;
}
.chalk {
  color: #8c8c8cd6;
}
.cnwjien{
  display: flex; 
  align-items: center;
}
.cnwjien >  svg {
  position: absolute;
    right: 10px;
    color: #727273!important;
}

.login-screen,
.signup-screen,
.reset-password {
  width: 100%;
  height: 100vh;
  display: flex;
  font-size: 12px;
}
.login-screen .left,
.signup-screen .left,
.reset-password .left {
  background-color: #d9d9d9;
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.login-screen .left,
.reset-password .left {
  align-items: center;
  justify-content: center;
  background: url("./assets/imgs/8.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.signup-screen .left {
  background: url("./assets/imgs/aff/23.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.login-screen .left::before {
  position: absolute; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.affiliate__banner {
  background: url("./assets/imgs/aff/23.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 60%
}

.vendor__banner {
  background: url("./assets/imgs/aff/36.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 60%
}
.signup-screen .left {
  width: 60%;
  justify-content: space-between;
}
.login-screen .left .head,
.reset-password .left .head {
  left: 53px;
  top: 36px;
  position: absolute;
}
.signup-screen .left .head {
  padding-left: 53px;
  padding-top: 36px;
}
.signup-screen .left .copyright-footer {
  padding-bottom: 33px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  color: #4e4e4e;
}
.login-screen .left .center,
.reset-password .left .center {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  font-size: 31px;
  color: #000;
}
.login-screen .left .center h3,
.reset-password .left .center h3 {
  font-size: 31px;
  font-weight: 500;
  line-height: 37.52px;
}
.login-screen .left .center p,
.reset-password .left .center p {
  font-size: 12px;
}
.login-screen .right,
.signup-screen .right,
.reset-password .right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #4e4e4e;
  position: relative;
  width: 40%;
}
.login-screen .right,
.reset-password .right {
  width: 35%;
  padding-bottom: 22px;
}
.signup-screen .right {
  padding-bottom: 15px;
  /* width: 100%; */
}
.signup-screen .right.pb-0 {
  padding-bottom: 0;
}
.login-screen .right .container,
.signup-screen .right .main,
.reset-password .right .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.login-screen .right .container,
.reset-password .right .container {
  width: 100%;
  padding: 0 105px 0 105px;
}
.login-screen .right .container {
  height: 680px;
}
.signup-screen .right .main {
  height: 721px;
  width: 100%;
  padding: 0 68px 0 60px;
}
.reset-password .right .container {
  margin-top: 135px;
}
.login-screen .right .container form,
.reset-password .right .container form {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}
.reset-password .right .container form {
  margin-top: 50px;
  justify-content: space-between;
  height: 400px;
}
.login-screen .right .container h1,
.signup-screen .right .main h1,
.reset-password .right .container h1 {
  font-family: "Manrope", sans-serif;
  font-size: 25px;
  line-height: 34.15px;
  margin-bottom: 5px;
  color: #000;
}
.signup-screen .right .main .right-head {
  font-size: 12px;
  font-weight: 500;
}
.signup-screen .right .main .vendor-affilate-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.signup-screen .right .main .vendor-affilate-container .vendor-affilate {
  display: flex;
  gap: 56px;
  font-size: 12px;
  font-weight: 700;
}
.signup-screen .right .main .line {
  display: flex;
  width: 39px;
  height: 5px;
  position: absolute;
  top: 20px;
  transform: translateX(-110px);
  background: var(--primary-bg-color);
  transition: all 0.5s;
}
.signup-screen .right .main .line.affilate {
  transform: translateX(-15px);
}
.signup-screen .right .main form {
  display: flex;
  flex-direction: column;
  margin-bottom: 47px;
}
.signup-screen .right .main form.affilate {
  margin-bottom: 10px;
}
/* .login-screen .right .container form .input,
.signup-screen .right .main form input,
.reset-password .right .container form .input {
  padding-bottom: 22px;
} */
.signup-screen .right .main form .flex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.signup-screen .right .main form .flex .pos-rel {
  width: 100%;
}
.signup-screen .right .main form .flex .pos-rel.email {
  width: 120%;
}
.signup-screen .right .main form .flex .pos-rel.phone {
  width: 80%;
}
.signup-screen .right .main form .affilate-form .pos-rel label {
  padding: 0 10px;
  top: -5px;
}
.signup-screen .right .main form .affilate-form .pos-rel .form-control {
  margin: 20px 0;
  padding: 15px 10px;
}
.login-screen .right .container form .forgotten {
  font-weight: 400;
  margin-top: 11px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 35px;
  text-decoration: none;
}
.login-screen .right .container form .remember-me {
  display: flex;
  align-items: center;
  gap: 13px;
  font-weight: 400;
  margin-bottom: 35px;
}
.login-screen .right .container form .remember-me input,
.signup-screen .right .main form .t-and-c input {
  width: 23px;
  height: 22px;
  cursor: pointer;
}
.signup-screen .right .main form .t-and-c {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 25px;
  font-size: 12px;
}
.signup-screen .right .main form .t-and-c input {
  margin-top: 0;
}
.login-screen .right .container form button,
.signup-screen .right .main form button,
.reset-password .right .container form button {
  height: 50px;
}
button {
  border-radius: 7px;
  height: 50px;
  font-size: 12px;
}
.login-screen .right .container form button.login-btn,
.reset-password .right .container form button.reset-btn {
  color: #fff;
  background-color: var(--primary-bg-color);
  border: none;
  margin-bottom: 50px;
  font-size: 12px;
  font-weight: 700;
  width: 100%;
}
.reset-password .right .container form button.reset-btn {
  background-color: var(--primary-bg-color);
}
.new-password .right .container form button.reset-btn {
  margin-bottom: 0;
}
.login-screen .right .container form button.create-account,
.reset-password .right .container form button.back-to-login {
  border: 1px solid var(--primary-bg-color);
  color: var(--primary-bg-color);
  background-color: #fff;
  margin-top: 16px;
  width: 100%;
}
.reset-password .right .container form button.back-to-login {
  border: 1px solid var(--primary-bg-color);
  color: var(--primary-bg-color);
}
.signup-screen .right .main form button.continue-btn {
  color: #fff;
  background-color: var(--primary-bg-color);
  border: none;
  margin-bottom: 36px;
  font-weight: 800;
}
.signup-screen .right .main form button.continue-btn.affilate {
  margin-bottom: 16px;
}
.signup-screen .right .main form button.back-to-login {
  border: 1px solid var(--primary-bg-color);
  color: var(--primary-bg-color);
  background-color: #fff;
  margin-top: 8px;
  width: 100%;
}
.signup-screen .right .main form .have-an-account {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-screen .right .form-logo,
.signup-screen .right .form-logo,
.reset-password .right .form-logo {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 48px;
}
.dashboard .page__header li.active {
  color: #000;
  /* border-left: 4px solid var(--primary-bg-color);
  padding-left: 6px; */
}
.dashboard .balance {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 90px;
  border-radius: 5px;
}
.dashboard .balance.available {
  /* background-color: rgb(23, 175, 23); */
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(26, 62, 156, 1) 51%,
    rgba(2, 0, 36, 1) 100%
  );
  color: #dadada;
}
.dashboard .balance.pending {
  background: linear-gradient(
    90deg,
    rgba(160, 87, 160, 1) 0%,
    rgba(145, 77, 145, 1) 51%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #dadada;
}
.dashboard .balance h1 {
  font-size: 20px;
}
.dashboard .balance-icon-container {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding-left: 10px;
  border-radius: 15px;
}
.dashboard .balance .balance-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.dashboard .balance .balance-text .balance-percentage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 5px;
  border-radius: 10px;
}
.dashboard .dashboard-chart {
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 0.1);
}
.dashboard .dashboard-chart ul {
  color: #80808091;
}
.dashboard .dashboard-chart ul .active {
  color: #000;
  text-decoration: underline;
}
.button:disabled{
  opacity: .8;
}
.dashboard .dashboard-chart button {
  padding: 0 15px;
  border-radius: 20px;
  border: none;
  background-color: rgb(160, 87, 160);
}
.total-profit select {
  border: none;
  width: 200px;
}
.total-profit img {
  width: 25px;
}
.total-profit .withdraw {
  margin-top: 20px;
}
.total-profit,
.recent-vendors,
.recent-affilates {
  padding: 10px;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 0.1);
}
.total-profit .withdraw button {
  width: 100%;
  background-color: var(--primary-bg-color);
  border: none;
  height: 40px;
  border-radius: 5px;
  margin-top: 10px;
  color: #dadada;
  font-weight: 900;
}
.vendor-details .stat-p {
  font-size: 9px;
  color: #8c8c8cd6;
  display: flex;
  align-items: center;
}
.vendor-details .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  margin-right: 2px;
}
.vendor-details .right-sidebar .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  font-size: 11px;
}
.vendor-details .stat-p .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  font-size: 8px;
}
.vendor-details .stat-p.green .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  color: green;
}
.vendor-details .stat-p.yellow .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  color: orange;
}
.vendor-details .stat-p.green .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  color: green;
}
.vendor-details .stat-p.red .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  color: rgb(204, 8, 8);
}
.vendor-details .stat-digits {
  padding: 0.5px 4px;
  border-radius: 30%;
  background-color: #dbdbdbd6;
}
.vendor-details .list-grid p {
  padding: 5px;
  color: #d1d0d0d6;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.vendor-details .list-grid p.active {
  background-color: #eeededd6;
}
.vendor-details .list-grid p .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  margin-right: 2px;
  font-size: 12px;
}
.vendor-details .list-grid p.active,
.vendor-details .list-grid p.active .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root,
.vendor-details .black .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  color: black;
}
.vendor-details .calender {
  border: 1px solid #eeededd6;
  border-radius: 5px;
}
.vendor-details .calender select,
.vendor-details .calender input {
  border: none;
}
.vendor-details .main-stats,
.vendor-details .right-sidebar {
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 0.1);
  padding: 10px;
  border-radius: 5px;
}
.vendor-details .right-sidebar {
  margin-top: 20px;
}
.vendor-details .profile_pic {
  width: 40px;
  height: 40px;
}
.vendor-details .bdtop {
  border-top: 1px solid #d1d0d0d6;
}
.prod-details {
  display: flex;
  gap: 30px;
  margin: 20px 30px;
}
.prod-details .main-image {
  height: 400px;
  width: 430px;
  margin-bottom: 10px;
}
.prod-details .other-images {
  display: flex;
  gap: 10px;
}
.prod-details .other-images .image {
  width: 100px;
  height: 100px;
}
.prod-details .right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.prod-details .right .prod-name {
  font-size: 25px;
}
.prod-details .right .prod-price {
  font-size: 25px;
}
.prod-details .right .former-price {
  font-size: 15px;
  text-decoration: line-through;
  color: #4e4e4e;
  margin-left: 10px;
}
.prod-details .right .prod-desc {
  font-size: 12px;
  color: #4e4e4e;
  line-height: 2em;
}
.prod-details .right .variations {
  display: flex;
  gap: 30px;
  color: #4e4e4e;
}
.prod-details .right .variations .size {
  border: 1px solid #4e4e4e;
  padding: 5px 10px;
}
.prod-details .right button,
.prod-details .right .favourite {
  background: #000;
  color: white;
}
.prod-details .right button {
  width: 200px;
  padding: 10px 0px;
}
.prod-details .right .favourite {
  padding: 5px 20px;
  cursor: pointer;
}
.prod-details .right .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  margin-right: 0;
}
.prod-details .right .MuiRating-root {
  color: yellow;
}
.f18 {
  font-size: 18px;
}
.f-13 {
  font-size: 13px;
}
.f-bold {
  font-weight: 700;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.affilate-links {
  background-color: #d9d9d9;
  color: rgb(77, 75, 75);
  padding: 10px;
  position: absolute;
  top: -100px;
  left: -20px;
  display: none;
}
.affilate-links.active {
  display: flex;
}
.affilate-links .link {
  border-bottom: 1px solid #333;
}
.affilate-links .link:hover {
  color: black;
}
.roles-n-priviledges .user-info {
  background-color: #eee;
  padding: 10px;
}
/* .access-level select { */
.w-400 {
  width: 400px;
}
.w-480 {
  width: 480px;
}
.w30 {
  width: 30px;
}
.items-center {
  align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
@media screen and (max-height: 750px) {
  .login-screen .right,
  .reset-password .right {
    padding-bottom: 8px;
  }
  .signup-screen .right {
    padding-bottom: 0;
  }
  .login-screen .right .container {
    padding: 20px 85px 0 85px;
    justify-content: flex-start;
    height: auto;
  }
  .reset-password .right .container {
    margin-top: 35px;
  }
  .login-screen .right .container form .input {
    margin-top: 50px;
  }
  .signup-screen .right .main form {
    margin-bottom: 10px;
  }
  .reset-password .right .container form {
    height: 350px;
  }
  .signup-screen .right .main form.affilate {
    margin-bottom: 0px;
  }
  /* .signup-screen .right .main form .pos-rel input {
    padding-top: 20px;
    padding-bottom: 20px;
  } */
  .signup-screen .right .main form .affilate-form .pos-rel .form-control {
    margin: 10px 0;
  }
  .login-screen .right .container form .forgotten {
    padding-bottom: 20px;
  }
  .signup-screen .right .main form .t-and-c {
    margin-bottom: 10px;
  }
  .login-screen .right .container form button,
  .signup-screen .right .main form button {
    height: 50px;
  }
  .signup-screen .right .main form button.affilate {
    height: 40px;
  }
  .login-screen .right .container form button.login-btn {
    margin-bottom: 30px;
  }
  .signup-screen .right .main form button.continue-btn {
    margin-bottom: 15px;
  }
  .signup-screen .right .main form button.continue-btn.affilate {
    margin-bottom: 8px;
  }
  .login-screen .right .form-logo,
  .signup-screen .right .form-logo,
  .reset-password .right .form-logo {
    padding-right: 10px;
  }
}

.user-details .left h1,
.user-details .page__header h1 {
  font-size: 20px;
}

.user-details .left,
.gallery .left,
.gallery .right,
.user-details .right {
  padding: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3%;
}

.gallery .left,
.gallery .right {
  padding: 20px;
}

.user-details .left .top {
  margin-top: -80px;
}

.user-details .left .details .flex-container {
  border-bottom: 1px solid #eee;
  padding: 10px;
}

.user-details .left h3 {
  font-size: 13px;
  font-weight: 300;
}

.user-details input,
.gallery input {
  height: 40px;
  width: 200px;
  padding-left: 5px;
  border-radius: 10px;
  border: 1px solid #eee;
}

.form-control.package {
  padding-top: 10px;
}

.category h1 {
  font-size: 18px;
}

.category h3 {
  width: 180px;
  color: #8c8c8cd6;
  font-weight: 200;
}

.category input,
.category select,
.category textarea {
  height: 40px;
  padding-left: 3px;
  width: 100%;
  border: 1px solid #8c8c8c30;
  border-radius: 5px;
  color: #8c8c8cd6;
}
.category textarea {
  height: 150px;
  padding-left: 10px;
  padding-top: 10px;
}
.category textarea:focus {
  outline: none;
}
.g-40 {
  gap: 40px;
}

.w-full {
  width: 100%;
}

.gallery-tag {
  border: 1px solid #eee;
  padding: 8px 15px;
  border-radius: 10px;
}

.gallery .left select,
.order-summary .left select {
  border: none;
}

.gallery img {
  width: 150px;
}

.gallery .left .img-grid {
  background-color: #eee;
  width: 180px;
  height: 180px;
  border-radius: 5px;
}

.grid {
  display: grid;
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.bold {
  font-weight: bold;
  font-size: 12px;
}

.img-detail {
  padding-bottom: 10px;
}

.underline {
  border-bottom: 1px solid #eee;
}

.gallery .right .url {
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.gallery .right .url .copy {
  font-size: 12px;
}

.order-summary .left {
  padding: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3%;
}

.backshadow {
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3%;
}

.order-summary .left .img-grid {
  padding-bottom: 10px;
}

.order-summary img {
  width: 50px;
}

.order-summary .right .track-btn {
  border: 1px solid var(--primary-bg-color);
  border-radius: 5px;
  height: 40px;
  color: var(--primary-bg-color);
  cursor: pointer;
}

.order-summary .right .track-btn p {
  font-size: 12px;
}

.order-summary .right .track-btn .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  color: blue;
}

.order-summary .tab-icons {
  width: 600px;
}

.order-summary .tab-btn {
  background-color: #eee;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
  color: #fff;
}
.order-summary .tab-btn .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  color: white !important;
}

.order-summary .tab-btn.active {
  background-color: var(--primary-bg-color);
}

.order-summary .bar {
  width: 100%;
  height: 2px;
  display: flex;
  background-color: #eee;
}

.order-summary .bar.active {
  background-color: var(--primary-bg-color);
}

.order-summary .billing-btn {
  border: none;
  height: 40px;
  border-radius: 5px;
}

.border {
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.border input {
  cursor: pointer;
}

.shadow {
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3%;
}

.hidden {
  display: none;
}

.settings {
  margin: 30px 0;
  color: rgb(77, 75, 75);
}

.settings .tab {
  border-bottom: 1px dashed rgb(203, 197, 197);
  padding: 30px 0;
}

.bb-dashed {
  border-bottom: 1px dashed rgb(203, 197, 197);
  padding-bottom: 30px;
}

.settings .tab .right {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}

.settings .tab .right .dotted {
  border: 1.5px dashed rgb(203, 197, 197);
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.settings .tab .right .dotted .icon {
  font-size: 30px;
}

.settings .tab .right .img {
  border: 1px solid rgb(203, 197, 197);
  border-radius: 5px;
  width: 160px;
  position: relative;
}

.settings .tab .right .close {
  font-size: 10px;
  position: absolute;
  top: 1px;
  right: -5px;
  background-color: rgb(194, 35, 35);
  border-radius: 8px;
  cursor: pointer;
  padding: 1px;
}

.blue {
  color: var(--primary-bg-color);
}

.scroll-container {
  overflow-y: scroll;
  height: 100vh;
}

.red {
  color: rgb(194, 35, 35);
}

.bg-blue {
  padding: 3px 5px;
  background-color: var(--primary-bg-color);
  color: #fff;
  border-radius: 3px;
}

.mt-50 {
  margin-top: 50px;
}
