
.icon-trash:before { content: '\e800'; } /* '' */
.icon-down-dir:before { content: '\e801'; } /* '' */
.icon-left-dir:before { content: '\e802'; } /* '' */
.icon-right-dir:before { content: '\e803'; } /* '' */
.icon-up-dir:before { content: '\e804'; } /* '' */
.icon-left-open-mini:before { content: '\e805'; } /* '' */
.icon-right-open-mini:before { content: '\e806'; } /* '' */
.icon-up-open-mini:before { content: '\e807'; } /* '' */
.icon-down-open-mini:before { content: '\e808'; } /* '' */
.icon-comment:before { content: '\e809'; } /* '' */
.icon-chat:before { content: '\e80a'; } /* '' */
.icon-cloudapp:before { content: '\e80b'; } /* '' */
.icon-floppy-1:before { content: '\e80c'; } /* '' */
.icon-torso:before { content: '\e80d'; } /* '' */
.icon-sort-alphabet:before { content: '\e80e'; } /* '' */
.icon-sort-numeric:before { content: '\e80f'; } /* '' */
.icon-floppy:before { content: '\e810'; } /* '' */
.icon-globe:before { content: '\e811'; } /* '' */
.icon-doc-new:before { content: '\e812'; } /* '' */
.icon-doc-new-circled:before { content: '\e813'; } /* '' */
.icon-print:before { content: '\e814'; } /* '' */
.icon-mask-group-7:before { content: '\e815'; } /* '' */
.icon-mask-group-9:before { content: '\e816'; } /* '' */
.icon-truck-1:before { content: '\e817'; } /* '' */
.icon-steering-wheel:before { content: '\e818'; } /* '' */
.icon-block:before { content: '\e819'; } /* '' */
.icon-search:before { content: '\e81a'; } /* '' */
.icon-star:before { content: '\e81b'; } /* '' */
.icon-dot-3:before { content: '\e81c'; } /* '' */
.icon-attach:before { content: '\e81d'; } /* '' */
.icon-dollar:before { content: '\e81e'; } /* '' */
.icon-doc-inv-alt:before { content: '\e81f'; } /* '' */
.icon-truck:before { content: '\e820'; } /* '' */
.icon-plus:before { content: '\e821'; } /* '' */
.icon-trash-1:before { content: '\e822'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-eye:before { content: '\f082'; } /* '' */
.icon-fontsize:before { content: '\f088'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-street-view:before { content: '\f21d'; } /* '' */
.icon-credit-card-alt:before { content: '\f283'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */