:root {
  --primary-bg-color: #1a3e9c;
  --secondary-bg-color: ;
  --primary-color: #fff;
  --color-chalk: #e3e3e3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

input:focus,
select:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.flex-wrap {
  flex-wrap: wrap;
}

.purple {
  color: #800081;
}

.pointer {
  cursor: pointer;
}

.gap-10 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.g-10 {
  gap: 10px;
}
.g-20 {
  display: flex;
  gap: 20px;
}

.g-5 {
  display: flex;
  gap: 5px;
}

.flex-col {
  flex-direction: column;
}

.justsb {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

ul {
  list-style-type: none;
}
.all-center {
  align-items: center;
  justify-content: center;
}

.capitalize {
  text-transform: capitalize;
}

.px-5 {
  padding: 0 5px;
}
.py-20 {
  padding: 20px 0;
}

.pdy-10 {
  padding: 10px 0;
}
.my-20 {
  margin: 20px 0;
}

.chalk {
  color: #8c8c8cd6;
}

.login-screen,
.signup-screen,
.reset-password {
  width: 100%;
  height: 100vh;
  display: flex;
  font-size: 12px;
}

.login-screen .left,
.signup-screen .left,
.reset-password .left {
  background-color: #d9d9d9;
  width: 714px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.login-screen .left,
.reset-password .left {
  align-items: center;
  justify-content: center;
}

.signup-screen .left {
  width: 100%;
  justify-content: space-between;
}

.login-screen .left .head,
.reset-password .left .head {
  left: 53px;
  top: 36px;
  position: absolute;
}

.signup-screen .left .head {
  padding-left: 53px;
  padding-top: 36px;
}

.signup-screen .left .copyright-footer {
  padding-bottom: 33px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  color: #4e4e4e;
}

.login-screen .left .center,
.reset-password .left .center {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  font-size: 31px;
  color: #000;
}

.login-screen .left .center h3,
.reset-password .left .center h3 {
  font-size: 31px;
  font-weight: 500;
  line-height: 37.52px;
}

.login-screen .left .center p,
.reset-password .left .center p {
  font-size: 12px;
}

.login-screen .right,
.signup-screen .right,
.reset-password .right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #4e4e4e;
  position: relative;
}

.login-screen .right,
.reset-password .right {
  width: 566px;
  padding-bottom: 22px;
}

.signup-screen .right {
  padding-bottom: 15px;
  width: 100%;
}

.signup-screen .right.pb-0 {
  padding-bottom: 0;
}

.login-screen .right .container,
.signup-screen .right .main,
.reset-password .right .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.login-screen .right .container,
.reset-password .right .container {
  width: 100%;
  padding: 0 105px 0 105px;
}

.login-screen .right .container {
  height: 680px;
}

.signup-screen .right .main {
  height: 721px;
  width: 100%;
  padding: 0 68px 0 60px;
}

.reset-password .right .container {
  margin-top: 135px;
}

.login-screen .right .container form,
.reset-password .right .container form {
  display: flex;
  flex-direction: column;
}

.reset-password .right .container form {
  margin-top: 50px;
  justify-content: space-between;
  height: 400px;
}

.login-screen .right .container h1,
.signup-screen .right .main h1,
.reset-password .right .container h1 {
  font-family: "Manrope", sans-serif;
  font-size: 25px;
  line-height: 34.15px;
  margin-bottom: 5px;
  color: #000;
}

.signup-screen .right .main .right-head {
  font-size: 12px;
  font-weight: 500;
}

.signup-screen .right .main .vendor-affilate-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.signup-screen .right .main .vendor-affilate-container .vendor-affilate {
  display: flex;
  gap: 56px;
  font-size: 12px;
  font-weight: 700;
}

.signup-screen .right .main .line {
  display: flex;
  width: 39px;
  height: 5px;
  position: absolute;
  top: 20px;
  transform: translateX(-110px);
  background: #800081;
  transition: all 0.5s;
}

.signup-screen .right .main .line.affilate {
  transform: translateX(-15px);
}

.signup-screen .right .main form {
  display: flex;
  flex-direction: column;
  margin-bottom: 47px;
}

.signup-screen .right .main form.affilate {
  margin-bottom: 10px;
}

.login-screen .right .container form .input,
.signup-screen .right .main form input,
.reset-password .right .container form .input {
  padding-bottom: 22px;
}

.signup-screen .right .main form .flex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.signup-screen .right .main form .flex .pos-rel {
  width: 100%;
}

.signup-screen .right .main form .flex .pos-rel.email {
  width: 120%;
}

.signup-screen .right .main form .flex .pos-rel.phone {
  width: 80%;
}

.signup-screen .right .main form .affilate-form .pos-rel label {
  padding: 0 10px;
  top: -5px;
}

.signup-screen .right .main form .affilate-form .pos-rel .form-control {
  margin: 20px 0;
  padding: 15px 10px;
}

.login-screen .right .container form .forgotten {
  font-weight: 400;
  margin-top: 11px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 35px;
  text-decoration: none;
}

.login-screen .right .container form .remember-me {
  display: flex;
  align-items: center;
  gap: 13px;
  font-weight: 400;
  margin-bottom: 35px;
}

.login-screen .right .container form .remember-me input,
.signup-screen .right .main form .t-and-c input {
  width: 23px;
  height: 22px;
  cursor: pointer;
}

.signup-screen .right .main form .t-and-c {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 25px;
  font-size: 12px;
}

.signup-screen .right .main form .t-and-c input {
  margin-top: 0;
}

.login-screen .right .container form button,
.signup-screen .right .main form button,
.reset-password .right .container form button {
  height: 65px;
}

.login-screen .right .container form button.login-btn,
.reset-password .right .container form button.reset-btn {
  color: #fff;
  background-color: #1a3e9c;
  border: none;
  margin-bottom: 50px;
  font-size: 12px;
  font-weight: 500;
  width: 100%;
}

.reset-password .right .container form button.reset-btn {
  background-color: #800081;
}

.new-password .right .container form button.reset-btn {
  margin-bottom: 0;
}

.login-screen .right .container form button.create-account,
.reset-password .right .container form button.back-to-login {
  border: 1px solid #1a3e9c;
  color: #1a3e9c;
  background-color: #fff;
  margin-top: 16px;
  width: 100%;
}

.reset-password .right .container form button.back-to-login {
  border: 1px solid #800081;
  color: #800081;
}

.signup-screen .right .main form button.continue-btn {
  color: #fff;
  background-color: #800081;
  border: none;
  margin-bottom: 36px;
}

.signup-screen .right .main form button.continue-btn.affilate {
  margin-bottom: 16px;
}

.signup-screen .right .main form button.back-to-login {
  border: 1px solid #800081;
  color: #800081;
  background-color: #fff;
  margin-top: 8px;
  width: 100%;
}

.signup-screen .right .main form .have-an-account {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-screen .right .form-logo,
.signup-screen .right .form-logo,
.reset-password .right .form-logo {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 48px;
}

.dashboard .page__header li.active {
  color: #000;
}

.dashboard .balance {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 90px;
  border-radius: 5px;
}

.dashboard .balance.available {
  background-color: rgb(23, 175, 23);
}

.dashboard .balance.pending {
  background-color: rgb(160, 87, 160);
}

.dashboard .balance h1 {
  font-size: 20px;
}

.dashboard .balance-icon-container {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding-left: 10px;
  border-radius: 15px;
}

.dashboard .balance .balance-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dashboard .balance .balance-text .balance-percentage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 5px;
  border-radius: 10px;
}

.dashboard .dashboard-chart {
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 0.1);
}

.dashboard .dashboard-chart ul {
  color: #80808091;
}

.dashboard .dashboard-chart ul .active {
  color: #000;
  text-decoration: underline;
}

.dashboard .dashboard-chart button {
  padding: 0 15px;
  border-radius: 20px;
  border: none;
  background-color: rgb(160, 87, 160);
}

.total-profit select {
  border: none;
  width: 200px;
}

.total-profit img {
  width: 25px;
}

.total-profit .withdraw {
  margin-top: 20px;
}

.total-profit,
.recent-vendors,
.recent-affilates {
  padding: 10px;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 0.1);
}

.total-profit .withdraw button {
  width: 100%;
  background-color: #1a3e9c;
  border: none;
  height: 40px;
  border-radius: 5px;
  margin-top: 10px;
}

.vendor-details .stat-p {
  font-size: 9px;
  color: #8c8c8cd6;
  display: flex;
  align-items: center;
}

.vendor-details .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  margin-right: 2px;
}

.vendor-details .right-sidebar .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  font-size: 11px;
}

.vendor-details .stat-p .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  font-size: 8px;
}

.vendor-details .stat-p.green .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  color: green;
}

.vendor-details .stat-p.yellow .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  color: orange;
}

.vendor-details .stat-p.green .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  color: green;
}

.vendor-details .stat-p.red .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  color: rgb(204, 8, 8);
}

.vendor-details .stat-digits {
  padding: 0.5px 4px;
  border-radius: 30%;
  background-color: #dbdbdbd6;
}

.vendor-details .list-grid p {
  padding: 5px;
  color: #d1d0d0d6;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.vendor-details .list-grid p.active {
  background-color: #eeededd6;
}

.vendor-details .list-grid p .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  margin-right: 2px;
  font-size: 12px;
}

.vendor-details .list-grid p.active,
.vendor-details .list-grid p.active .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root,
.vendor-details .black .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  color: black;
}

.vendor-details .calender {
  border: 1px solid #eeededd6;
  border-radius: 5px;
}

.vendor-details .calender select,
.vendor-details .calender input {
  border: none;
}

.vendor-details .main-stats,
.vendor-details .right-sidebar {
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 0.1);
  padding: 10px;
  border-radius: 5px;
}

.vendor-details .right-sidebar {
  margin-top: 20px;
}

.vendor-details .profile_pic {
  width: 40px;
  height: 40px;
}

.vendor-details .bdtop {
  border-top: 1px solid #d1d0d0d6;
}

.prod-details {
  display: flex;
  gap: 30px;
  margin: 20px 30px;
}

.prod-details .main-image {
  height: 400px;
  width: 430px;
  margin-bottom: 10px;
}

.prod-details .other-images {
  display: flex;
  gap: 10px;
}

.prod-details .other-images .image {
  width: 100px;
  height: 100px;
}

.prod-details .right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.prod-details .right .prod-name {
  font-size: 25px;
}

.prod-details .right .prod-price {
  font-size: 25px;
}
.prod-details .right .former-price {
  font-size: 15px;
  text-decoration: line-through;
  color: #4e4e4e;
  margin-left: 10px;
}

.prod-details .right .prod-desc {
  font-size: 12px;
  color: #4e4e4e;
  line-height: 2em;
}

.prod-details .right .variations {
  display: flex;
  gap: 30px;
  color: #4e4e4e;
}

.prod-details .right .variations .size {
  border: 1px solid #4e4e4e;
  padding: 5px 10px;
}

.prod-details .right button,
.prod-details .right .favourite {
  background: #000;
  color: white;
}
.prod-details .right button {
  width: 200px;
  padding: 10px 0px;
}

.prod-details .right .favourite {
  padding: 5px 20px;
  cursor: pointer;
}

.prod-details .right .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  margin-right: 0;
}

.prod-details .right .MuiRating-root {
  color: yellow;
}

.f18 {
  font-size: 18px;
}

.f-13 {
  font-size: 13px;
}
.f-bold {
  font-weight: 700;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.affilate-links {
  background-color: #d9d9d9;
  color: rgb(77, 75, 75);
  padding: 10px;
  position: absolute;
  top: -100px;
  left: -20px;
  display: none;
}

.affilate-links.active {
  display: flex;
}

.affilate-links .link {
  border-bottom: 1px solid #333;
}

.affilate-links .link:hover {
  color: black;
}

.roles-n-priviledges .user-info {
  background-color: #eee;
  padding: 10px;
}

.w-400 {
  width: 400px;
}

.w-480 {
  width: 480px;
}

.w30 {
  width: 30px;
}

.items-center {
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-height: 750px) {
  .login-screen .right,
  .reset-password .right {
    padding-bottom: 8px;
  }

  .signup-screen .right {
    padding-bottom: 0;
  }

  .login-screen .right .container {
    padding: 20px 85px 0 85px;
    justify-content: flex-start;
    height: auto;
  }

  .reset-password .right .container {
    margin-top: 35px;
  }

  .login-screen .right .container form .input {
    margin-top: 50px;
  }

  .signup-screen .right .main form {
    margin-bottom: 10px;
  }

  .reset-password .right .container form {
    height: 350px;
  }

  .signup-screen .right .main form.affilate {
    margin-bottom: 0px;
  }

  .signup-screen .right .main form .pos-rel input {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .signup-screen .right .main form .affilate-form .pos-rel .form-control {
    margin: 10px 0;
  }

  .login-screen .right .container form .forgotten {
    padding-bottom: 20px;
  }

  .signup-screen .right .main form .t-and-c {
    margin-bottom: 10px;
  }

  .login-screen .right .container form button,
  .signup-screen .right .main form button {
    height: 50px;
  }

  .signup-screen .right .main form button.affilate {
    height: 40px;
  }

  .login-screen .right .container form button.login-btn {
    margin-bottom: 30px;
  }

  .signup-screen .right .main form button.continue-btn {
    margin-bottom: 15px;
  }

  .signup-screen .right .main form button.continue-btn.affilate {
    margin-bottom: 8px;
  }

  .login-screen .right .form-logo,
  .signup-screen .right .form-logo,
  .reset-password .right .form-logo {
    padding-right: 10px;
  }
}
